* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo span {
    color: #e63946;
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.navbar nav a:hover {
    color: #e63946;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('https://via.placeholder.com/1500x900') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    color: white;
    text-align: center;
}

.hero-content h2 {
    font-size: 46px;
    margin-bottom: 15px;
}

.hero-content p {
    margin-bottom: 30px;
    font-size: 18px;
}

.hero-content button {
    padding: 14px 40px;
    border: none;
    background-color: #e63946;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.hero-content button:hover {
    background-color: white;
    color: black;
}

/* PROGRAMS */
.programs {
    padding: 60px;
    text-align: center;
}

.programs h2 {
    margin-bottom: 40px;
}

.program-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    background: #f5f5f5;
    padding: 30px;
    width: 250px;
    border-radius: 8px;
}

.card h3 {
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
}
