* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #0a2540;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo span {
    color: #38bdf8;
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.navbar nav a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url('https://via.placeholder.com/1500x900') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    color: white;
    text-align: center;
}

.hero-text h2 {
    font-size: 44px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-text button {
    padding: 14px 35px;
    border: none;
    background-color: #38bdf8;
    font-size: 16px;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: white;
}

/* DESTINATIONS */
.destinations {
    padding: 60px;
    text-align: center;
}

.destinations h2 {
    margin-bottom: 40px;
}

.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    width: 280px;
    background: #f4f4f4;
    border-radius: 8px;
    padding: 15px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    margin: 15px 0 5px;
}

/* FOOTER */
footer {
    background-color: #0a2540;
    color: white;
    text-align: center;
    padding: 20px;
}
