* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
    color: #333;
}

/* Header */
header {
    background-color: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

/* Navigation */
nav {
    background-color: #444;
    text-align: center;
}

nav a {
    color: white;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    background-color: #666;
}

/* Sections */
section {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

h2 {
    margin-bottom: 15px;
}

/* Skills */
ul {
    list-style: none;
}

ul li {
    background: #222;
    color: white;
    padding: 8px;
    margin: 5px 0;
    width: fit-content;
    border-radius: 4px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}
